
.white{
    .menu-navmenu-container{
        .menu{
            a{
                color: $black;
                opacity: 0.5;
                &:hover{
                    opacity: 1;
                    cursor: pointer;
                    font-weight: bold;
                }
            }
            .current_page_item{
                a{
                    color: $green;
                    opacity: 1;
                }
               
            }
        }
    }
        
}
header{
    z-index: 5;

    @include responsive(tablet){
        width: 100%;
        position: absolute;
       display: flex;
       justify-content: row;
       justify-content: space-around;
       top:80px;
    }
    .logo{
        display: block;
        margin: 30px auto;
        width: 150px;
        @include responsive(tablet){
            margin: 0;
        }
    }
    .menu-navmenu-container{
        display: none;
        @include responsive(tablet){
        display: block;
        width: 60%;
        .menu{
            list-style: none;
            .current_page_item{
                a{
                    color: $white;
                    opacity: 1;
                    font-weight: bold;
                }
               
            }
            a{
                text-decoration: none;
                color: $white;
                font-weight: 500;	
                line-height: 23px;
                opacity: 0.5;	
                font-family:$font-menu;	
                font-size: 16px;
                &:hover{
                    opacity: 1;
                    cursor: pointer;
                    font-weight: bold;
                }
            }
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 50%;
            }
        }
    }

    .faq_container{
        display: none;
        @include responsive(tablet){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 5%;
        a{
        text-decoration: none; 
            .faq_container_item{
                font-family: $font-menu;
                color:$black;		
                font-size: 16px;	
                font-weight: bold;	
                line-height: 23px;
                margin: 0;
            }
            .faq{
                    width: 25px;
            } 
           
        }
    }
  }
}

#menu_container.is-active{
    .menu-navmenu-container{
        display: block;
    }

    overflow: hidden;
    height: 100vh;
    text-align: center;
    width:100vw;
    padding: 20px 15px;
    display: block;
    position: fixed;
    z-index: 6;
    top: 76px;
    background-color: $white;
    list-style:none;
    ul{
        padding: 0;
    }
    li{
        border-bottom: 1px dashed $green;
        margin: 60px auto;
        padding-bottom: 30px; 
    }
    a{
        text-decoration: none;
        color: $green;
        line-height: 2rem;
        font-size: 25px;
        }

}

/*hamburger-menu*/
.hamburger{
    position: absolute;
    top: 40px;
    right: 0;
}