.frontpage-container-1{
  width:100vw;
  background-color: $green;
  @include responsive(tablet){
    height: 100vh;
    position: relative;
       }
  .frontpage-container-box{
    width: 80%;
    margin: auto;
    padding-top: 40px;

    .frontpage-container-box-mission{
    width: 80%;
    margin: auto;
    margin-top:  200px; 
    @include responsive(tablet){
      width: 40%;
      position: absolute;
      bottom: 220px;
      right: 150px;
      margin-top:0;
         }
    h1{
        color:$white;
        font-size: 45px;	
        font-weight: 500;	
        line-height: 35px;
        font-family: $font-menu;
        text-transform: uppercase;
        padding-bottom: 10px;
        line-height: 40px;

    }
    p{
        font-family: $font-p;
        font-size: 26px;
        font-weight: 500;
        line-height: 35px;
        color:$white;
    }
    }
    img{
      width: 100%;
      @include responsive(tablet){
        width: 90%;
           }
      }
    $margin-video: 4em;
    .container_video{
      position: relative;
      margin-top: 40px;
      margin-left:  $margin-video;
       display: block;
       padding: 20px;
       width: 80px;
       border-radius: 0 30px 0 0;
       background-color:$black;
       color:$white;
       text-decoration: none;
      text-align: center;
      font-weight: bold;
      @include responsive(tablet){
        width: 150px;
           }
      &:before{
        position: absolute;
        overflow: hidden;
        height: 75px;	
        top:0;
        left:-70px;
        background-color: $white;
        content:url(./assets/images/play_button.svg);
        @include responsive(tablet){
          height: 58px;	
             }
        }
    }
  }

}
