.frontpage-container-4{
    width:100vw;
    position: relative;
    .frontpage-container-box4{
        width: 80%;
        margin: auto;
            @include responsive(tablet){
            width: 60%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 160px 0;
                }
        .frontpage-container-box4-items{
            width: 100%;
            margin: 80px 0;
            @include responsive(tablet){
            width:20%;
                }
            .img{
                display: block;
                margin: auto;
                width: 60%;
                @include responsive(tablet){
                    width:100%; 
                }
               
            }
            .sec{
                @include responsive(tablet){
                    margin-top: 11px;
                }   
            }
            .three{
                @include responsive(tablet){
                    margin-top: 35px;
                } 
            }
            p{
                color:$grey;
                font-family: $font-menu;
                font-size: 20px;
                line-height: 20px;
                text-align: center;
                @include responsive(tablet){
                font-size: 28px;
                line-height: 28px;
                margin-top: 60px;
                        }
            }
            h1{
                color:$light-green;
                font-size: 40px;
                font-weight: bold;
                line-height: 10px;
                text-align: center;
                @include responsive(tablet){
                    font-size: 53px;
                    line-height: 35px;
                        }
            }
        }
    }
    
}