

body{
    background-color: $white;
}
.container_faq{
width: 100vw;
    .container_faq_box1{
        width: 100%;
        background-color: $light-green;
        border-radius: 0 0 0 120px;
        .container_faq_box1_title{
            width: 80%;
            margin: auto;
            padding-top: 250px;
            padding-bottom: 80px;
           @include responsive(tablet){
            width: 30%;
            padding-left: 150px;
            margin: 0;
            }
           h1{
                color: $white;
                font-size: 60px;
                letter-spacing: 3px;
                line-height: 100px;
                font-weight: bolder;
                margin: 0;
           }
           p{
                color: $white;
                font-size: 18px;
                line-height: 35px;
                margin: 0;
           }
        }
    }
    .container_faq_box2{
        width:80%;
        margin: 50px auto;
        @include responsive(tablet){
          margin: 200px auto;
          }
        .container_faq_box2_items {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        .faq {
            width: 100%;
            height: 6em;
            margin: 1em 0;
            background-color:$white;
            z-index: 5;
          }
        .faq-question{
                font-family: $font-menu;
                font-size: 30px;
                font-weight: bold;
                line-height: 40px;
                margin: 55px 0;
        }
        .faq-answer{
            display: none;
            padding: 1em 2em;
            p{
              margin: 30px auto;
              width:90%;
              line-height: 35px;
              @include responsive(tablet){
                margin: 0;
                padding: 0;
                font-size: 18px;
                width:700px;
                }
              
            }
        }
        .active-fq {
            .faq-question{
                color:$light-green;
                font-size: 36px;
                font-weight: 900;
                @include responsive(tablet){
                  font-size: 46px;
                  font-weight: 900;
                  line-height: 40px;
                  }
            }
          }
        .display-content {
            display: block!important;
          }
          .fa-plus, .fa-minus {
            width: 3%;
        }
          .minus {
            display: none;
          }
          .active-arrow {
            .plus{
                display:none;
            }
            .minus{
                display: block;
            }
          }
          .a{
              padding: 0;
          }
    }


}
  

  
  
 

  

  
 

  

  
 
  